ConsoleApplication/obj/Debug/**
QuadernoNetAPI/obj/Debug/**
ConsoleApplication/bin/Debug/**
QuadernoNetAPI/bin/Debug/**

ConsoleApplication/obj/Release/**
QuadernoNetAPI/obj/Release/**
ConsoleApplication/bin/Release/**
QuadernoNetAPI/bin/Release/**


ConsoleApplication/App.config
